@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&display=swap");
@import url("/Multimedia/Font/Lexendzetta/LexendZetta-Black.ttf");
@import url("/Multimedia/font/Lexendzetta/LexendZetta-Bold.ttf");
@import url("/Multimedia/font/Lexendzetta/LexendZetta-ExtraBold.ttf");
@import url("/Multimedia/font/ppeiko/ppeiko-Light.otf");
@import url("/Multimedia/font/ppeiko/ppeiko-Light.ttf");
@import url("/Multimedia/font/ppeiko/ppeiko-lightItalic.otf");
@import url("/Multimedia/font/ppeiko/ppeiko-lightItalic.ttf");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-link {
  transition: 0.5s;
  font-family: "LexendZetta-ExtraBold.ttf";
  font-size: 20px;
}
.nav-link:hover {
  background-color: black;
}

.container-fluid {
  background: linear-gradient(45deg, #312f30, #985434, #efe1d4);
}
.container-fluid .navbar-brand {
  font-size: 26px;
  font-family: "ppeiko-lightItalic.ttf";
}

footer a:hover {
  text-decoration: underline;
  font-size: 18px;
}

.row {
  background-color: #312f30;
}

.logo {
  width: 150px;
  height: 150px;
}

.mainindex {
  background-image: url("../Multimedia/jero/walp6.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.mainindex .index_first .move {
  position: relative;
  background: inherit;
  overflow: hidden;
  padding: 25px 50px;
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
  top: -30px;
  transition: 1s;
}
.mainindex .index_first .move:hover {
  background: linear-gradient(to left, rgba(239, 225, 212, 0.5137254902), rgba(152, 84, 52, 0.431372549), rgba(49, 47, 48, 0.3960784314));
}
.mainindex .index_first .move::before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
  box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.4);
  filter: blur(10px);
  z-index: -1;
}
.mainindex .index_first .move h1 {
  letter-spacing: 5px;
  font-size: 100px;
  color: #fff;
  font-family: "Italianno", cursive;
}
.mainindex .index_first .move p {
  letter-spacing: 5px;
  font-size: 80px;
  color: #fff;
  font-family: "Italianno", cursive;
  text-align: center;
}

.introprod {
  width: 80%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  left: 15%;
  justify-content: center;
}

.introprod h2 {
  font-weight: bold;
}

.instrumentos {
  position: fixed;
  background-color: #312f30;
  width: 10%;
  text-align: center;
}

.instrumentos2 li {
  padding: 30% 0;
  font-size: 22px;
  color: #fff1e5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.instrumento2 {
  padding: 0;
}

.inst-links {
  color: #f1e9e9;
}

.container-prod {
  position: relative;
  left: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area1 area1" "area2 area2 area2" "area3 area4 area5" "area6 area7 area8";
  gap: 15px;
  width: 80%;
  padding-bottom: 50px;
  justify-items: center;
}

.container-prod img {
  filter: sepia(70%);
  transition: 0.5s;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.container-prod img:hover {
  filter: sepia(0);
  transform: translatey(-10px);
  box-shadow: 6px 14px 11px 6px rgba(0, 0, 0, 0.65);
}

.container-prod h2 {
  padding: 50px 0px;
}

.c1 {
  grid-area: area1;
}

.c2 {
  padding: 0px 20px;
  grid-area: area2;
}

.c3 {
  grid-area: area3;
}

.c4 {
  grid-area: area4;
}

.c5 {
  grid-area: area5;
}

.c6 {
  grid-area: area6;
}

.c7 {
  grid-area: area7;
}

.c8 {
  grid-area: area8;
}

.caja {
  width: 100%;
  height: 100%;
}

.caja img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.container-prod h2 {
  text-align: center;
}

.container-prod p {
  text-align: justify;
}

.mainserv {
  background-color: #efe1d4;
}

h2 {
  text-align: center;
  padding: 40px 0;
  justify-content: space-evenly;
  font-family: sans-serif;
}

.container-serv {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 30px;
}

.container-serv .cardo {
  width: 300px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0px 4px 2px 3px rgba(0, 0, 0, 0.38);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: 0.3s;
}

.container-serv .cardo:hover {
  transform: translatey(-12px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-serv .cardo img {
  width: 330px;
  height: 220px;
}

.container-serv .cardo h5 {
  font-weight: 600px;
  padding: 15px 0;
}

.container-serv .cardo p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.container-serv .card a {
  font-weight: 500;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 50px 0;
  gap: 150px;
}

.main_proce {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  background-image: url("../Multimedia/Random/fondo9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main_proce :nth-child(odd) {
  flex-direction: row-reverse;
}
.main_proce .intro_proce {
  text-align: center;
  padding-bottom: 30px;
  color: #efe1d4;
}
.main_proce .interval {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}
.main_proce .interval .roseta1 {
  border: inset 5px #efe1d4;
  border-right: none;
  border-radius: 20px;
  padding: 3vh;
  color: #fff;
}
.main_proce .interval .roseta1 h4 {
  text-align: center;
  padding-bottom: 20px;
}
.main_proce .interval .carousel-inner img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 3px 5px 3px 3px rgba(0, 0, 0, 0.2);
}
.main_proce .interval .prensado1 {
  border: inset 5px #efe1d4;
  border-left: none;
  border-radius: 20px;
  padding: 3vh;
  color: #efe1d4;
  transition: 0.4s;
}
.main_proce .interval .prensado1:hover {
  background-color: rgba(49, 47, 48, 0.4039215686);
}
.main_proce .interval .prensado1 h4 {
  text-align: center;
  padding-bottom: 10px;
}
.main_proce .interval .mastil1 {
  border: inset 5px #312f30;
  border-right: none;
  border-radius: 20px;
  padding: 3vh;
  color: #efe1d4;
}
.main_proce .interval .mastil1 h4 {
  text-align: center;
  padding-bottom: 20px;
}
.main_proce .interval .diapason1 {
  border: inset 5px rgba(25, 25, 25, 0.6117647059);
  border-left: none;
  border-radius: 20px;
  padding: 3vh;
  color: #efe1d4;
  transition: 0.4s;
}
.main_proce .interval .diapason1:hover {
  background-color: rgba(49, 47, 48, 0.4039215686);
}

.maincontacto {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}
.maincontacto .formulario {
  width: 50vh;
}
.maincontacto .mapa {
  width: 50vh;
}

.main_contacto {
  background-image: url("../Multimedia/Random/fondo10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main_contacto .form_area {
  display: grid;
  place-items: center;
  height: auto;
  color: #fff;
  padding: 100px;
  justify-content: center;
}
.main_contacto .form_area form {
  width: 400px;
  height: auto;
  color: #fff;
  padding: 50px 30px;
  box-shadow: 0 0 1rem 0 rgba(255, 223, 223, 0.2);
  position: relative;
  backdrop-filter: blur(6px);
}
.main_contacto .form_area form p {
  font-weight: bold;
}
.main_contacto .form_area form input {
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  height: 30px;
  margin-bottom: 20px;
  width: 80%;
}
.main_contacto .form_area form input::placeholder {
  color: rgba(255, 255, 255, 0.5333333333);
  outline: none;
  padding-left: 8px;
}
.main_contacto .form_area form input:focus {
  background-color: rgba(255, 255, 255, 0.6862745098);
}
.main_contacto .form_area form input:focus::placeholder {
  color: #191919;
}
.main_contacto .form_area form .boton {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.6588235294);
  font-weight: bold;
  letter-spacing: 2px;
}
.main_contacto .form_area form label {
  font-weight: bold;
}
.main_contacto .form_area form textarea {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  margin-bottom: 20px;
  width: 80%;
  color: #fff;
  height: 60px;
  resize: none;
}
.main_contacto .form_area form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5333333333);
  outline: none;
  padding-left: 8px;
}
.main_contacto .form_area form textarea:focus {
  background-color: rgba(255, 255, 255, 0.6862745098);
  color: #191919;
}

@media only screen and (max-width: 1350px) {
  .container-prod {
    position: relative;
    left: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area1 area1" "area2 area2 area2" "area3 area4 area5" "area6 area7 area8";
    gap: 15px;
    width: 80%;
    padding-bottom: 50px;
    justify-items: center;
  }
  .caja img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
  }
  .instrumentos2 li {
    padding: 50px 0px;
    font-size: 18px;
    color: #fff1e5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media only screen and (max-width: 1300px) {
  .container-prod {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area1" "area2 area2" "area3 area4" "area5 area6" "area7 area8";
    gap: 12px;
  }
  .caja img {
    width: 100%;
    max-height: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .instrumentos2 li {
    padding: 28% 0;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .index-left h1 {
    font-size: 30px;
  }
  .index-left p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .incarousel h3 {
    font-size: 22px;
  }
  .incarousel p {
    font-size: 16px;
  }
  .instrumentos2 li {
    font-size: 16px;
  }
  .main-serv h2 {
    font-size: 16px;
  }
  .container-serv {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 800px) {
  .mainindex {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 20px 20px 20px;
  }
  .index-left {
    padding: 0;
  }
  .index-left h1 {
    font-size: 24px;
  }
  .instrumentos {
    width: 12%;
  }
  .container-prod {
    width: 70%;
  }
  .container-prod h2 {
    padding: 25px 0px;
  }
  .introprod {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .main_proce .interval {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .main_proce .interval .roseta1 {
    border-bottom: none;
  }
  .main_proce .interval .roseta2 img {
    height: 32vh;
  }
  .main_proce .interval .prensado1 {
    border-bottom: none;
    color: #312f30;
  }
  .main_proce .interval .prensado2 img {
    height: 32vh;
  }
  .main_proce .interval .mastil1 {
    border-bottom: none;
  }
  .main_proce .interval .mastil2 img {
    height: 32vh;
  }
  .main_proce .interval .diapason1 {
    border-bottom: none;
    color: #312f30;
  }
  .main_proce .interval .diapason2 img {
    height: 32vh;
  }
}
@media only screen and (max-width: 700px) {
  .instrumentos {
    display: none;
  }
  .mainprod {
    display: flex;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
