@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.h1std, .maincontacto .formulario h1, .main_proce .intro_proce, .mainserv h1, .mainprod .introprod h1, .mainindex .index_first_left h2, .mainindex .index_first_left h1 {
  letter-spacing: 5px;
  font-size: 60px;
  color: #fff;
  font-family: "Italianno", cursive;
}
@media only screen and (max-width: 768px) {
  .h1std, .maincontacto .formulario h1, .main_proce .intro_proce, .mainserv h1, .mainprod .introprod h1, .mainindex .index_first_left h2, .mainindex .index_first_left h1 {
    font-size: 45px;
  }
}

.h2std, .main_proce .interval h2, .container-prod h2 {
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 45px;
  color: #efe1d4;
}
@media only screen and (max-width: 768px) {
  .h2std, .main_proce .interval h2, .container-prod h2 {
    font-size: 30px;
  }
}

.container-fluid {
  background: linear-gradient(45deg, #312f30 20%, #985434 50%, #efe1d4);
}
.container-fluid .navbar-brand {
  font-size: 34px;
  letter-spacing: 3px;
  font-family: "Italianno", cursive;
}
.container-fluid .nav-link {
  transition: 0.5s;
  font-family: "p";
  font-size: 20px;
  position: relative;
}

footer .container-fluid .row {
  background-color: #312f30;
}
footer .container-fluid .logo {
  width: 150px;
  height: 150px;
}
footer a:hover {
  text-decoration: underline;
  font-size: 18px;
}

.mainindex {
  background-color: #191919;
  height: 100vh;
}
.mainindex .index_first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100%;
  color: #eee;
  padding: 2%;
}
.mainindex .index_first_left {
  text-align: center;
}
.mainindex .index_first_right {
  background: linear-gradient(45deg, rgba(49, 47, 48, 0.6431372549) 20%, rgba(152, 84, 52, 0.6509803922) 50%, rgba(49, 47, 48, 0.6431372549));
  border-radius: 10px;
  padding: 5%;
}
.mainindex .index_first_right p::first-letter {
  font-size: 130%;
}

.mainprod {
  background-color: rgba(152, 84, 52, 0.8156862745);
}
.mainprod .introprod {
  width: 80%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  left: 15%;
  justify-content: center;
}
.mainprod .instrumentos {
  position: fixed;
  background-color: #312f30;
  width: 10%;
  text-align: center;
}
.mainprod .instrumentos li {
  padding: 30% 0;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainprod .instrumentos .inst-links {
  color: #f1e9e9;
}
.mainprod p {
  color: #eee;
}

.container-prod {
  position: relative;
  left: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area1 area1" "area2 area2 area2" "area3 area4 area5" "area6 area7 area8";
  gap: 15px;
  width: 80%;
  padding-bottom: 50px;
  justify-items: center;
}
.container-prod h2 {
  padding: 50px 0px;
}
.container-prod img {
  filter: sepia(70%);
  transition: 0.5s;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
.container-prod img:hover {
  filter: sepia(0);
  transform: translatey(-10px);
  box-shadow: 6px 14px 11px 6px rgba(0, 0, 0, 0.65);
}
.container-prod .c1 {
  grid-area: area1;
}
.container-prod .c2 {
  padding: 0px 20px;
  grid-area: area2;
}
.container-prod .c3 {
  grid-area: area3;
}
.container-prod .c4 {
  grid-area: area4;
}
.container-prod .c5 {
  grid-area: area5;
}
.container-prod .c6 {
  grid-area: area6;
}
.container-prod .c7 {
  grid-area: area7;
}
.container-prod .c8 {
  grid-area: area8;
}
.container-prod h2 {
  text-align: center;
}
.container-prod p {
  text-align: justify;
}

.caja {
  width: 100%;
  height: 100%;
}
.caja img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.mainserv {
  background-color: rgba(152, 84, 52, 0.8156862745);
}
.mainserv h1 {
  text-shadow: -5px 3px 5px rgba(36, 32, 32, 0.753);
  text-align: center;
  padding: 40px 0;
}
.mainserv .container-serv {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 30px;
}
.mainserv .container-serv .cardo {
  width: 300px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0px 4px 2px 3px rgba(0, 0, 0, 0.38);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: 0.3s;
  color: #312f30;
  background-color: rgba(238, 238, 238, 0.8784313725);
}
.mainserv .container-serv .cardo:hover {
  transform: translatey(-12px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.mainserv .container-serv .cardo img {
  width: 330px;
  height: 220px;
}
.mainserv .container-serv .cardo h2 {
  font-weight: 600px;
  padding: 10px 0 7px 0;
  font-size: 30px;
}
.mainserv .container-serv .cardo p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.main_proce {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  background-color: rgba(152, 84, 52, 0.8156862745);
  overflow: hidden;
}
.main_proce :nth-child(odd) {
  flex-direction: row-reverse;
}
.main_proce .intro_proce {
  text-align: center;
  padding-bottom: 30px;
}
.main_proce .interval {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}
.main_proce .interval .roseta1 {
  border: inset 5px #312f30;
  border-right: none;
  border-radius: 20px;
  padding: 3vh;
  color: #fff;
}
.main_proce .interval .carousel-inner {
  box-shadow: 1px 2px 9px 9px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 2px 9px 9px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 2px 9px 9px rgba(0, 0, 0, 0.7);
}
.main_proce .interval .carousel-inner img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}
.main_proce .interval .prensado1 {
  border: inset 5px #312f30;
  border-left: none;
  border-radius: 20px;
  padding: 3vh;
  color: #fff;
  transition: 0.4s;
}

.maincontacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  background-color: rgba(152, 84, 52, 0.8156862745);
  overflow: hidden;
}
.maincontacto .formulario {
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 5px solid rgba(238, 238, 238, 0.5960784314);
  border-radius: 10px;
}
.maincontacto .formulario p {
  color: #312f30;
  font-weight: bold;
  font-size: 20px;
}
.maincontacto .formulario label {
  font-weight: bold;
  letter-spacing: 2px;
}
.maincontacto .formulario input {
  outline: none;
  background-color: transparent;
  color: #eee;
  border: none;
  border-bottom: 1px solid #eee;
}
.maincontacto .formulario input::placeholder {
  color: #eee;
}
.maincontacto .formulario input:focus {
  background-color: rgba(49, 47, 48, 0.4039215686);
}
.maincontacto .formulario form {
  color: #eee;
}
.maincontacto .formulario form ul {
  padding: 0;
}
.maincontacto .formulario form li {
  padding-top: 15px;
}
.maincontacto .formulario form textarea {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  outline: none;
  height: 80px;
  font-size: 18px;
  resize: none;
  margin-bottom: 20px;
  color: #eee;
}
.maincontacto .formulario form textarea:focus {
  background-color: rgba(49, 47, 48, 0.4039215686);
}
.maincontacto .formulario form .btn {
  width: 80%;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #312f30;
}
.maincontacto .mapa {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 1350px) {
  .container-prod {
    position: relative;
    left: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area1 area1" "area2 area2 area2" "area3 area4 area5" "area6 area7 area8";
    gap: 15px;
    width: 80%;
    padding-bottom: 50px;
    justify-items: center;
  }
  .caja img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 1300px) {
  .container-prod {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area1" "area2 area2" "area3 area4" "area5 area6" "area7 area8";
    gap: 12px;
  }
  .caja img {
    width: 100%;
    max-height: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .instrumentos2 a {
    padding: 28% 0;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1000px) {
  .mainindex {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .mainindex .index_first {
    display: flex;
    flex-direction: column;
  }
  .mainindex .index_first_left {
    padding: 50px 0;
  }
  .mainindex .index_first_right {
    width: 80%;
  }
  .main_proce .interval {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
  }
  .main_proce .interval .roseta1 {
    border-bottom: none;
    width: 100%;
    justify-content: center;
  }
  .main_proce .interval .roseta2 img {
    height: 32vh;
  }
  .main_proce .interval .prensado1 {
    border-bottom: none;
    width: 100%;
    justify-content: center;
  }
  .main_proce .interval .prensado2 img {
    height: 32vh;
  }
  .instrumentos2 a {
    padding: 28% 0;
    font-size: 16px;
  }
  .main-serv h2 {
    font-size: 16px;
  }
  .maincontacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 800px) {
  .instrumentos {
    width: 12%;
  }
  .container-prod {
    width: 70%;
  }
  .container-prod h2 {
    padding: 25px 0px;
  }
  .introprod {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .index_first_left h1 {
    font-size: 50px;
    color: red;
  }
  .main_proce .interval {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
  .main_proce .interval .roseta1 {
    border-bottom: none;
  }
  .main_proce .interval .roseta2 {
    width: 100%;
    height: 100%;
  }
  .main_proce .interval .prensado1 {
    border-bottom: none;
  }
  .main_proce .interval .prensado2 {
    width: 100%;
    height: 100%;
  }
  .maincontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .instrumentos {
    display: none;
  }
  .mainprod_container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  .maincontacto {
    padding: 15px 0;
  }
  .maincontacto .formulario {
    width: 70%;
  }
  .maincontacto .formulario h1 {
    font-size: 40px;
  }
  .maincontacto .mapa {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
