
.mainindex {
    background-color: #191919;
    height: 100vh;

    .index_first {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 100%;
        color: #eee;
        padding: 2%;

        &_left {
            text-align: center;
            h1 {
                @extend .h1std;
                
            }
            h2 {
                @extend .h1std;
            }
            
        }
        &_right {
            background: linear-gradient(45deg, #312f30a4 20%, #985434a6 50%, #312f30a4);
            border-radius: 10px;
            padding: 5%;
            & p::first-letter {
                font-size: 130%;
            } 
        }
        
    }
}