
@media only screen and (max-width: 1350px){


        .caja img {
        width: 350px;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
    }
}


@media only screen and (max-width: 1300px){
    
    .container-prod {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "area1 area1"
        "area2 area2"
        "area3 area4"
        "area5 area6"
        "area7 area8"
        ;
        gap: 12px;
    }

    .instrumentos2 {
        a {
            padding: 28% 0;
            font-size: 18px;
        }
    }
    
}


@media only screen and (max-width: 1000px){
    // index
        .mainindex {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        height: auto;
        .index_first {
            display: flex;
            flex-direction: column;
            &_left {
                padding: 50px 0;
            }
            &_right {
                width: 80%;
            }
        }
    }

    // procesos
    
    .main_proce{

        .interval {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 50px;            
            .roseta1 {
                border-bottom: none;
                width: 100%;
                justify-content: center;
            }

            .roseta2 {
                img {
                    height: 32vh;}
            }
            .prensado1 {
                border-bottom: none;
                width: 100%;
                justify-content: center;
            }

            .prensado2 {
                img {
                    height: 32vh;}
            }
        }
    }

    // productos
    
    .instrumentos2 {
        a {
            padding: 28% 0;
            font-size: 16px;
        }
    }

// SERVICIOS
    .main-serv h2 {
        font-size: 16px;
    }

    // CONTACTO
    .maincontacto {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


}

@media only screen and (max-width: 800px){

    .introprod {
        width: 70%;
    }

    .instrumentos {    
    width: 12%;
    }

    .container-prod {
        width: 70%;
        h2 {
            padding: 25px 0px;
        }
    }
} 

@media only screen and (max-width: 768px){

    // INDEX
    .index_first_left {
        h1 {
            font-size: 50px;
            color: red;
        }
    }

    // PROCESOS
    .main_proce{
        .interval {
            display: flex;
            flex-direction: column;
            padding-top: 30px;

            .roseta1 {
                border-bottom: none;
            }

            .roseta2 {
                width: 100%;
                height: 100%
            }
            .prensado1 {
                border-bottom: none;
            }

            .prensado2 {
                width: 100%;
                height: 100%
                
            }
        }
    }
    // Productos
    .caja {
        height: 180px;
        img {
            max-height: 100%;
        }
    }
    // contacto
    .maincontacto {
        @include flex (column, center, center, wrap);
        gap: 50px;
        padding: 15px;
    } 
}

@media only screen and (max-width: 700px){

    .instrumentos {
        display: none;
    }

    .mainprod_container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 500px){
    // contacto
    .maincontacto {
        padding: 15px 0;
        .formulario {
            width: 70%;
            h1 {
                font-size: 40px;
            }
        }
        .mapa {
            width: 100%;
        }
    }
}