
@media only screen and (max-width: 1350px){
    .container-prod {
        position: relative;
        left: 15%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "area1 area1 area1"
        "area2 area2 area2"
        "area3 area4 area5"
        "area6 area7 area8"
        ;
        gap: 15px;
        width: 80%;
        padding-bottom: 50px;
        justify-items: center;
        
    }

.caja {
    img {
        max-width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
    }
}

        

    .instrumentos2 {
        li {
            padding: 50px 0px;
            font-size: 18px;
            color: #fff1e5;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    
    
    
}


@media only screen and (max-width: 1300px){
    
    .container-prod {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "area1 area1"
        "area2 area2"
        "area3 area4"
        "area5 area6"
        "area7 area8"
        ;
        gap: 12px;
    }

    .caja {
        img {
            width: 100%;
            max-height: 500px;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            
        }
    }
    
    

    .instrumentos2 li {
        padding: 28% 0;
        font-size: 20px;
    }
}


@media only screen and (max-width: 1000px){

    .main_proce {
        .interval {

        }
    }

    .index-left h1{
        font-size: 30px;
    }

    .index-left p{
        font-size: 16px;
        margin-bottom: 0;
    }

    .incarousel h3{
        font-size: 22px;
    }

    .incarousel p{
        font-size: 16px;
    }

    .instrumentos2 li {    
        font-size: 16px;
    }


    .main-serv h2 {
        font-size: 16px;
    }

    .container-serv {
        justify-content: space-evenly;
    }
}


@media only screen and (max-width: 800px){

    .mainindex {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 20px 20px 20px;
    }

    .index-left {
    padding: 0;
    }

    .index-left h1{
        font-size: 24px;
    }

    .instrumentos {    
    width: 12%;
    }

    .container-prod {
        width: 70%;
        
        h2 {
            padding: 25px 0px;
        }
    }

    .introprod {
        width: 70%;
    }

}

@media only screen and (max-width: 768px){
    .main_proce{

        .interval {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .roseta1 {
                border-bottom: none;
            }

            .roseta2 {
                img {
                    height: 32vh;
                }
            }
            .prensado1 {
                border-bottom: none;
                color: $colorlogo3;
            }

            .prensado2 {
                img {
                    height: 32vh;
                }
            }

            .mastil1 {
                border-bottom: none;

            }

            .mastil2 {
                img {
                    height: 32vh;
                }
            }

            .diapason1 {
                border-bottom: none;
                color: $colorlogo3;
            }

            .diapason2 {
                img {
                    height: 32vh;
                }
            }

        }
    }
}

@media only screen and (max-width: 700px){

    .instrumentos {
        display: none;
    }

    .mainprod {
        display: flex;
        flex-wrap: wrap;
    }
}