
.mainserv {
    background-color: $colorlogo1;
    }
    
    h2 {
    text-align: center;
    padding: 40px 0;
    justify-content: space-evenly;
    font-family: sans-serif;
}

.container-serv {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 30px;
}

.container-serv {
    .cardo {
        width: 300px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0px 4px 2px 3px rgba(0,0,0,0.38);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: 0.3s;
    }
    
}

.container-serv .cardo:hover {
    transform: translatey(-12px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-serv .cardo img{
    width: 330px;
    height: 220px;

}

.container-serv .cardo h5 {
    font-weight: 600px;
    padding: 15px 0;

}

.container-serv .cardo p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container-serv .card a{
    font-weight: 500;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px 0;
    gap: 150px;
}
