
.nav-link {
    transition: 0.5s;
    font-family: "LexendZetta-ExtraBold.ttf";
    font-size: 20px;

    &:hover {
        background-color: black;
    }

}

.container-fluid {
    background: linear-gradient(45deg, $colorlogo3, $colorlogo2, $colorlogo1);

    .navbar-brand {
        font-size: 26px;
        font-family: "ppeiko-lightItalic.ttf";
    }
}
