
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&display=swap');
@import url("/Multimedia/Font/Lexendzetta/LexendZetta-Black.ttf");
@import url("/Multimedia/font/Lexendzetta/LexendZetta-Bold.ttf");
@import url("/Multimedia/font/Lexendzetta/LexendZetta-ExtraBold.ttf");
@import url("/Multimedia/font/ppeiko/ppeiko-Light.otf");
@import url("/Multimedia/font/ppeiko/ppeiko-Light.ttf");
@import url("/Multimedia/font/ppeiko/ppeiko-lightItalic.otf");
@import url("/Multimedia/font/ppeiko/ppeiko-lightItalic.ttf");